{% extends 'base.html' %}
{% block title %}About Page{% endblock %}

{% block content %}
<img src="/static/images/food.jpg" class="img-fluid" style="width:50%; height:200px; object-fit:cover;">

<h1>About Our Food Website:</h1>
<a>This website is created to help users learn about different types of food and their impact on health.<br>
    We show the difference between healthy food, fast food, and fitness meals so users can make better food <br>
    choices in their daily life</a>
<h2>Types Of Food:</h2>
<ul>
    <li>Healthy</li>
    <li>Fitness</li>
    <li>Fast Food</li>
</ul>



{% endblock %}
