{% extends 'base.html' %}
{% block title %}Info Page{% endblock %}

{% block content %}
<img src="/static/images/f1.jpg" class="img-fluid" style="width:50%; height:200px; object-fit:cover;">
<h1>About Fitness Food:</h1>
<a>Fitness food is designed to support exercise and an active lifestyle. It is rich in protein, healthy fats,<br>
    and complex carbohydrates that help build muscle, increase strength, and improve recovery after workouts.<br>
    Common fitness foods include chicken, eggs, rice, oats, and vegetables, which provide clean energy for the<br>
    body.</a>

<h2>Positive effects:</h2>
<ul>
   <li>Supporting muscle growth and strength</li>
    <li>Enhancing recovery after workouts</li>
    <li>Providing clean and stable energy</li>
    <li>Improving physical performance</li>
    <li>Supporting active lifestyle</li>
</ul>
<h2>Negative effects:</h2>
<ul>
    <li>Becoming repetitive over time</li>
    <li>Requiring discipline and planning</li>
    <li>Sometimes being costly</li>
</ul>





{% endblock %}