{% extends 'base.html' %}
{% block title %}About Page{% endblock %}

{% block content %}
<img src="/static/images/j1.jpg" class="img-fluid" style="width:50%; height:200px; object-fit:cover;">
<h1>About Fast Food:</h1>
<a>Fast food is quick, convenient, and often very tasty, but it is usually high in calories, sugar, salt, <br>
    and unhealthy fats. It can be enjoyable sometimes, but eating it too often may lead to weight gain and <br>
    health problems. Fast food is best consumed in moderation as a treat, not a daily habit.</a>


<h2>Positive effects:</h2>
<ul>
    <li>Providing quick and easy meals</li>
     <li>Saving time in busy situations</li>
     <li>Being widely available</li>
    <li>Offering strong taste and satisfaction</li>
</ul>
<h2>Negative effects:</h2>
<ul>
   <li> Increasing calorie and fat intake</li>
   <li> Contributing to weight gain</li>
   <li> Providing low nutritional value</li>
    <li>Negatively affecting long-term health</li>
</ul>






{% endblock %}





{% endblock %}
