{% extends 'base.html' %}
{% block title %}Info Page{% endblock %}

{% block content %}
<img src="/static/images/h2.jpg" class="img-fluid" style="width:50%; height:200px; object-fit:cover;">
<h1>About Healthy Foods:</h1>
<a>Healthy food includes natural, fresh, and nutritious meals such as fruits, vegetables, whole grains, <br>
    nuts, and lean proteins. It gives your body the vitamins and energy it needs, helps improve digestion,<br>
    and supports long-term health. Eating healthy regularly makes you feel more energetic and reduces the risk<br>
    of diseases.</a>
<h2>Positive effects:</h2>
<ul>
    <li>Boosting energy and strength</li>
    <li>Strengthening the immune system</li>
    <li>Supporting digestion and gut health</li>
    <li>Reducing risk of illnesses</li>
    <li>Improving overall well-being</li>
</ul>
<h2>Negative effects:</h2>
<ul>
    <li>Taking time to prepare meals</li>
    <li>Requiring planning and consistency</li>
    <li>Sometimes being more expensive</li>
</ul>




{% endblock %}