{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}

<div class="container mt-4">
  <div class="row">

    {% for food in foods %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="/static/images/{{ food.image }}" class="card-img-top" alt="{{ food.title }}" style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{ food.title }}</h5>
          <p class="card-text">{{ food.description }}</p>
          <a href="/movie/{{ food.id }}" class="btn btn-primary">More</a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}